= render 'layouts/header'
.main
  = render "users/side"
  .main__content
    .main__content__user
      .main__content__user__icon
        = image_tag "/member_photo_noimage_thumb.png", alt: "ユーザー"
      .main__content__user__name
        .main__content__user__name__last
          = @user.last_name
        .main__content__user__name__first
          = @user.first_name
      .main__content__user__count
        .main__content__user__count__evaluation
          評価 100
        .main__content__user__count__exhibition
          出品数 100

    .main__content__head お気に入り一覧

    .main__content__post
      .main__content__post__favorite
        - @likes.each  do |like|
          .main__content__post__favorite__name
            = @item.name
          .main__content__post__favorite__picture
            = image_tag @item.images[0].images.url, height: '150px', width: '220px'