.mypage__content
  .mypage__content__user
    .mypage__content__user__icon
      = image_tag "/member_photo_noimage_thumb.png", alt: "ユーザー"
    .mypage__content__user__name
      .mypage__content__user__name__last
        = @user.last_name
      .mypage__content__user__name__first
        = @user.first_name
    .mypage__content__user__count
      .mypage__content__user__count__evaluation
        評価 100
      .mypage__content__user__count__exhibition
        出品数 100
  .mypage__content__tabs
    .mypage__content__tabs__notification
      お知らせ
    .mypage__content__tabs__todo
      やることリスト
  %ul.mypage__content__item
    %li.mypage__content__item__body
      = image_tag "/furima.box.png", alt: "メルカリボックス"
      .mypage__content__item__body__text
        事務局から個別メッセージ
      .mypage__content__item__body__time
        = image_tag "/time.png", alt: "時計"
        created_at
      .mypage__content__item__body__right
        >
    %li.mypage__content__item__body
      = image_tag "/furima.box.png", alt: "メルカリボックス"
      .mypage__content__item__body__text
        事務局から個別メッセージ
      .mypage__content__item__body__time
        = image_tag "/time.png", alt: "時計"
        created_at
      .mypage__content__item__body__right
        >
    %li.mypage__content__item__body
      = image_tag "/furima.box.png", alt: "メルカリボックス"
      .mypage__content__item__body__text
        事務局から個別メッセージ
      .mypage__content__item__body__time
        = image_tag "/time.png", alt: "時計"
        created_at
      .mypage__content__item__body__right
        >
    %li.mypage__content__item__body
      = image_tag "/furima.box.png", alt: "メルカリボックス"
      .mypage__content__item__body__text
        事務局から個別メッセージ
      .mypage__content__item__body__time
        = image_tag "/time.png", alt: "時計"
        created_at
      .mypage__content__item__body__right
        >
    %li.mypage__content__item__body
      = image_tag "/furima.box.png", alt: "メルカリボックス"
      .mypage__content__item__body__text
        事務局から個別メッセージ
      .mypage__content__item__body__time
        = image_tag "/time.png", alt: "時計"
        created_at
      .mypage__content__item__body__right
        >
    = link_to "#", class: "mypage__content__index" do
      %h3 一覧を見る
  .mypage__content__head
    %h3 購入した商品
  .mypage__content__tabs
    .mypage__content__tabs__notification
      取引中
    .mypage__content__tabs__todo
      過去の取引
  %ul.mypage__content__item
    %li.mypage__content__item__body
      = image_tag "/furima.box.png", alt: "商品写真"
      .mypage__content__item__body__text
        事務局から個別メッセージ
      .mypage__content__item__body__time
        = image_tag "/time.png", alt: "時計"
        created_at
      .mypage__content__item__body__right
        >
    %li.mypage__content__item__body
      = image_tag "/furima.box.png", alt: "商品写真"
      .mypage__content__item__body__text
        事務局から個別メッセージ
      .mypage__content__item__body__time
        = image_tag "/time.png", alt: "時計"
        created_at
      .mypage__content__item__body__right
        >
    %li.mypage__content__item__body
      = image_tag "/furima.box.png", alt: "商品写真"
      .mypage__content__item__body__text
        事務局から個別メッセージ
      .mypage__content__item__body__time
        =image_tag "/time.png", alt: "時計"
        created_at
      .mypage__content__item__body__right
        >
    %li.mypage__content__item__body
      = image_tag "/furima.box.png", alt: "商品写真"
      .mypage__content__item__body__text
        事務局から個別メッセージ
      .mypage__content__item__body__time
        = image_tag "/time.png", alt: "時計"
        created_at
      .mypage__content__item__body__right
        >
    %li.mypage__content__not__found