.mypage__nav
  %ul.mypage__nav__list
  = link_to "/users/:id" do
    %li.mypage__nav__list__item
      %h3 マイページ
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 お知らせ
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 やることリスト
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 いいね！一覧
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 出品する
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 出品した商品 - 出品中
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 出品した商品 - 取引中
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 出品した商品 - 売却済み
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 購入した商品 - 取引中
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 購入した商品 - 過去の取引
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 ニュース一覧
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 評価一覧
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 ガイド
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 お問い合わせ
      %p >
  .mypage__nav__head
    メルペイ
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 残高・振込申請
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 ポイント
      %p >
  .mypage__nav__head
    設定
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 プロフィール
      %p >
  = link_to new_address_path do
    %li.mypage__nav__list__item
      %h3 発送元・お届け先住所登録
      %p >
  = link_to card_users_path do
    %li.mypage__nav__list__item
      %h3 支払い方法
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 メール/パスワード
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 本人情報
      %p >
  = link_to root_path do
    %li.mypage__nav__list__item
      %h3 電話番号の確認
      %p >
  = link_to logout_users_path do
    %li.mypage__nav__list__item
      %h3 ログアウト
      %p >
