.mypage
  = render "side"
  .credit
    .credit__header
      クレジットカード情報入力
    .credit__card
      .credit__card__form
        .credit__card__form__number
          %h3 カード番号
          %p 必須
        = form_with(url: pay_credit_index_path, local: true, method: :post) do |f|
          = f.text_field :card_number, {placeholder: "半角数字のみ", class: "credit__card__form__input", id: "card_number"}
          %ul.credit__card__form__list
            %li1= icon("fab", "cc-visa")
            %li2= icon("fab", "cc-mastercard")
            %li3= icon("fab", "cc-apple-pay")
            %li4= icon("fab", "cc-jcb")
            %li5= icon("fab", "cc-amex")
            %li6= icon("fab", "cc-diners-club")
            %li7= icon("fab", "cc-discover")
          .credit__card__form__dl
            %h3 有効期限
            %p 必須
          .credit__card__form__select
            = f.date_select :exp_year, {start_year: 2020, end_year: 2030, discard_month: true, discard_day: true}, class: "year", id: "exp_year"
            年
            = f.date_select :exp_month, {use_month_numbers: true, discard_year: true, discard_day: true}, class: "month", id: "exp_month"
            月
          .credit__card__form__security
            %h3 セキュリティーコード
            %p 必須
          = f.text_field :cvc, {placeholder: "カード背面4桁もしくは3桁の番号", class: "credit__card__form__cord", id: "cvc"}
          = link_to "#", class: "credit__card__form__info" do
            %span ?
            %p カード裏面の番号とは?
            #card_token
          = f.submit "追加する", {id: "token_submit", class: "credit__card__form__button"}