= link_to new_item_path, class: "fixed_btn" do
  %h1 出品する
  = image_tag "icon/icon_camera.png", height: '62%', width: '62%'
.header
  .header__box
    .header__box__1
      .header__box__1__title-box
        .header__box__1__title-box__title
          = link_to root_path do
            = image_tag 'logo/logo.png', height: '40px', width: '140px'
          
      .header__box__1__search-box
        = form_with(url: root_path, local: true, method: :get, class: "header__box__1__search-box__box") do |f|
          = f.text_field :keyword, placeholder: "キーワードから探す", class: "header__box__1__search-box__box__text"
          = image_submit_tag 'icon/icon-search 1.png', height: '19px', width: '19px', class: 'header__box__1__search-box__box__submit'
    .header__box__2
      .header__box__2__content
        %ul
          %li
            = link_to root_path do
              カテゴリー
            
          %li
            = link_to root_path do
              ブランド
      .header__box__2__login
        %ul
          %li
            = link_to users_path do
              マイページ
    - breadcrumb :login
    = render "layouts/breadcrumbs"


.contents
  .contents__block
    .contents__block__login-no-account
      アカウントをお持ちでない方はこちら
      .contents__block__login-no-account__aaa
        = link_to "新規会員登録", "", class: "aaa"
  .contents__top
    .contents__top__1
      .contents__top__1__facebook
        Facebookでログイン 
      .contents__top__1__Google
        Googleでログイン
      .contents__top__1__mail
        %input.login-input-text.input-default{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}/
      .contents__top__1__pass
        %input.login-input-text.input-default{:name => "password", :placeholder => "パスワード", :type => "password"}/
      .contents__top__1__login 
        ログイン

  .footer__message
    .footer__message__1
      = link_to "プライバシーポリシー", "", class: "footer__message__1__2"
    .footer__message__1
      = link_to "フリマ利用規約", "", class: "footer__message__1__2"
    .footer__message__1
      = link_to "特定商取引に関する表記", "", class: "footer__message__1__2"
  .footer__logo
    = image_tag "logo.png", class: "logo", width:"185px", height:"60px"
  %small © Furima, Inc.
