.users
  .users__details
    .users__details__profile
      .users__details__profile__photo
        = image_tag "/member_photo_noimage_thumb.png", alt: "ユーザー"
      .users__details__profile__name
        .users__details__profile__name__last
          = @user.last_name
        .users__details__profile__name__first
          = @user.first_name
      .users__details__profile__count
        .users__details__profile__count__evaluation
          評価 100
        .users__details__profile__count__exhibition
          出品数 100
    .users__details__icons
      .users__details__icons__box
      = icon('fas', 'grin-beam', class: "icon")
      21
      .users__details__icons__box
      = icon('fas', 'smile', class: "icon")
      21
      .users__details__icons__box
      = icon('fas', 'angry', class: "icon")
      21
    .users__details__description
      .users__details__discription__text
        自己紹介テキストボックス
    .users__social__media
      .users__social__media__box
        = link_to "https://www.facebook.com/", class: "users__social__media__box__icon" do
          = icon('fab', 'facebook-square',  class: "users__social__media__box__icon__fb")
        = link_to "https://twitter.com/", class: "users__social__media__box__icon" do
          = icon('fab', 'twitter', class: "users__social__media__box__icon__tt")
        = link_to "https://line.me/ja/", class: "users__social__media__box__icon" do
          = icon('fab', 'line', class: "users__social__media__box__icon__line")
  .users__items
    .users__items__box
      .users__items__box__header
        この出品者の商品
      .users__items__box__list
        .users__items__box__list__image
          = image_tag "/member_photo_noimage_thumb.png", alt: "ユーザー"
          .users__items__box__list__image__details
            .users__items__box__list__image__details__text
              商品紹介テキスト
            .users__items__box__list__image__details__num
              %p ¥2000
              .users__items__box__list__image__details__num__nice
              = icon('fas', 'heart', class: "icon")
              %span 4
        .users__items__box__list__image
          = image_tag "/member_photo_noimage_thumb.png", alt: "ユーザー"
          .users__items__box__list__image__details
            .users__items__box__list__image__details__text
              商品紹介テキスト
            .users__items__box__list__image__details__num
              %p ¥2000
              .users__items__box__list__image__details__num__nice
              = icon('fas', 'heart', class: "icon")
              %span 4
        .users__items__box__list__image
          = image_tag "/member_photo_noimage_thumb.png", alt: "ユーザー"
          .users__items__box__list__image__details
            .users__items__box__list__image__details__text
              商品紹介テキスト
            .users__items__box__list__image__details__num
              %p ¥2000
              .users__items__box__list__image__details__num__nice
              = icon('fas', 'heart', class: "icon")
              %span 4
      .users__items__box__list
        .users__items__box__list__image
          = image_tag "/member_photo_noimage_thumb.png", alt: "ユーザー"
          .users__items__box__list__image__details
            .users__items__box__list__image__details__text
              商品紹介テキスト
            .users__items__box__list__image__details__num
              %p ¥2000
              .users__items__box__list__image__details__num__nice
              = icon('fas', 'heart', class: "icon")
              %span 4
        .users__items__box__list__image
          = image_tag "/member_photo_noimage_thumb.png", alt: "ユーザー"
          .users__items__box__list__image__details
            .users__items__box__list__image__details__text
              商品紹介テキスト
            .users__items__box__list__image__details__num
              %p ¥2000
              .users__items__box__list__image__details__num__nice
              = icon('fas', 'heart', class: "icon")
              %span 4
        .users__items__box__list__image
          = image_tag "/member_photo_noimage_thumb.png", alt: "ユーザー"
          .users__items__box__list__image__details
            .users__items__box__list__image__details__text
              商品紹介テキスト
            .users__items__box__list__image__details__num
              %p ¥2000
              .users__items__box__list__image__details__num__nice
              = icon('fas', 'heart', class: "icon")
              %span 4
      .users__items__box__list
        .users__items__box__list__image
          = image_tag "/member_photo_noimage_thumb.png", alt: "ユーザー"
          .users__items__box__list__image__details
            .users__items__box__list__image__details__text
              商品紹介テキスト
            .users__items__box__list__image__details__num
              %p ¥2000
              .users__items__box__list__image__details__num__nice
              = icon('fas', 'heart', class: "icon")
              %span 4
        .users__items__box__list__image
          = image_tag "/member_photo_noimage_thumb.png", alt: "ユーザー"
          .users__items__box__list__image__details
            .users__items__box__list__image__details__text
              商品紹介テキスト
            .users__items__box__list__image__details__num
              %p ¥2000
              .users__items__box__list__image__details__num__nice
              = icon('fas', 'heart', class: "icon")
              %span 4
        .users__items__box__list__image
          = image_tag "/member_photo_noimage_thumb.png", alt: "ユーザー"
          .users__items__box__list__image__details
            .users__items__box__list__image__details__text
              商品紹介テキスト
            .users__items__box__list__image__details__num
              %p ¥2000
              .users__items__box__list__image__details__num__nice
                = icon('fas', 'heart', class: "icon")
                %span 4