.header
  .header__box
    .header__box__1
      .header__box__1__title-box
        .header__box__1__title-box__title
          = link_to root_path do
            = image_tag 'logo/logo.png', height: '40px', width: '140px'
          
      .header__box__1__search-box
        = form_with(url: items_searches_path, local: true, method: :get, class: "header__box__1__search-box__box") do |f|
          = f.text_field :keyword, placeholder: "キーワードから探す", class: "header__box__1__search-box__box__text"
          = image_submit_tag 'icon/icon-search 1.png', height: '19px', width: '19px', class: 'header__box__1__search-box__box__submit'
    .header__box__2
      .header__box__2__content
        %ul
          %li
            = link_to root_path do
              カテゴリー
            
          %li
            = link_to root_path do
              ブランド
      .header__box__2__login
        %ul
          %li
            = link_to users_path do
              マイページ

/商品一覧と同じHamlを使用。購入済みは『Sold』が表示されるよう条件分岐されている
.main__box5__box__product-box
  - @items.each do |item| 
    .main__box5__box__product-box__product
      /ここで特定のitem詳細に飛ぶ
      = link_to "/items/#{item.id}", method: :get do
        -if item.buyer_id.present?
          .main__box5__box__product-box__product__image-box
            %span
              %h4 SOLD
            = image_tag item.images[0].images.url, height: '150px', width: '220px', class: 'main__box5__box__product-box__product__image-box__image'
            /imageのうち最初のひとつだけ取り出す
          .main__box5__box__product-box__product__show-box
            %h3
              = item.name
            .main__box5__box__product-box__product__show-box__date
              %ul
                %li
                  = item.price
                  円
                %li 
                  %span ❤️
                  = item.like_count
                  
              %p (税込)
        - else 
          .main__box5__box__product-box__product__image-box
            = image_tag item.images[0].images.url, height: '150px', width: '220px', class: 'main__box5__box__product-box__product__image-box__image'              
          
          .main__box5__box__product-box__product__show-box
            %h3
              = item.name
            .main__box5__box__product-box__product__show-box__date
              %ul
                %li
                  = item.price
                  円
                %li 
                  %span ❤️
                  = item.like_count
                  
              %p (税込)
              /こちらは売り切れてない場合の条件分岐