.header
  .header__box
    .header__box__1
      .header__box__1__title-box
        .header__box__1__title-box__title
          = link_to root_path do
            = image_tag 'logo/logo.png', height: '40px', width: '140px'
          
      .header__box__1__search-box
        = form_with(url: root_path, local: true, method: :get, class: "header__box__1__search-box__box") do |f|
          = f.text_field :keyword, placeholder: "キーワードから探す", class: "header__box__1__search-box__box__text"
          = image_submit_tag 'icon/icon-search 1.png', height: '19px', width: '19px', class: 'header__box__1__search-box__box__submit'
    .header__box__2
      .header__box__2__content
        %ul
          %li
            = link_to root_path do
              カテゴリー
            
          %li
            = link_to root_path do
              ブランド
      .header__box__2__login
        %ul
          %li
            = link_to users_path do
              マイページ
    - breadcrumb :mypage
    - breadcrumb :address
    = render "layouts/breadcrumbs"

#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--main.user-form
      会員情報入力
      = form_with(url: addresses_path, local: true, method: :post) do |f|
        .field
          .field-label
            = f.label :郵便番号
            %i 必須
          .field-input
            = f.text_field :post
        .field
          .field-label
            = f.label :都道府県
            %i 必須
          .field-input
            = f.text_field :prefecture
        .field
          .field-label
            = f.label :市区町村
            %i 必須
          .field-input
            = f.text_field :city
        .field
          .field-label
            = f.label :番地
            %i 必須
          .field-input
            = f.text_field :number
        .field
          .field-label
            = f.label :建物（例：ハイツ101号室）
            %i 任意
          .field-input
            = f.text_field :building

        .actions
          = f.submit "登録完了", class: "btn"