= link_to new_item_path, class: "fixed_btn" do
  %h1 出品する
  = image_tag "icon/icon_camera.png", height: '62%', width: '62%'
.header
  .header__box
    .header__box__1
      .header__box__1__title-box
        .header__box__1__title-box__title
          = link_to root_path do
            = image_tag 'logo/logo.png', height: '40px', width: '140px'
          
      .header__box__1__search-box
        = form_with(url: root_path, local: true, method: :get, class: "header__box__1__search-box__box") do |f|
          = f.text_field :keyword, placeholder: "キーワードから探す", class: "header__box__1__search-box__box__text"
          = image_submit_tag 'icon/icon-search 1.png', height: '19px', width: '19px', class: 'header__box__1__search-box__box__submit'
    .header__box__2
      .header__box__2__content
        %ul
          %li
            = link_to root_path do
              カテゴリー
            
          %li
            = link_to root_path do
              ブランド
      .header__box__2__login
        %ul
          %li
            = link_to users_path do
              マイページ
    - breadcrumb :new
    = render "layouts/breadcrumbs"
.exhibition
  = form_for @item do |f|
    - if @item.errors.any?
      = "入力した内容にエラーが#{@item.errors.count}件あります"
      - @item.errors.full_messages.each do |message|
        = message
    .exhibition__header
      .exhibition__header__imag
        = image_tag "icon_brand.png", :size =>'50x50', class: "exhibition__header__1__1"
      .exhibition__header__2
        フリマ
    .exhibition__detail
      .exhibition__detail__main
        商品の情報を入力
      .exhibition__detail__det
        出品情報
        .exhibition__detail__det__rel
          必須
      .exhibition__detail__image
        .exhibition__detail__image__til
          最大10枚までアップロードできます
        .exhibition__detail__image__in
          = f.fields_for :images do |i|
            .exhibition__detail__image__in__fis
              .exhibition__detail__image__in__fis__out
                .exhibition__detail__image__in__fis__out__ind{"data-index":"#{i.index}"}
                  = i.file_field :images, class: "exhibition__detail__image__in__fis__out__ind__fil"
                  - if @item.persisted?
                    = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy'
                - if @item.persisted?
                  .exhibition__detail__des__cou{data-index="@item.images.count"}
                  = file_field_tag :images, name: "item[images_attributes][#{@item.i.count}][image]", class: 'exhibition__detail__des__cou__tag'
      .exhibition__detail__ite
        .exhibition__detail__ite__nam
          商品名
          .exhibition__detail__ite__nam__rel
            必須
        .exhibition__detail__ite__pla
          = f.text_field :name, placeholder: "商品名(必須40文字まで)",class: "exhibition__detail__ite__pla__now"
        .exhibition__detail__ite__edi
          商品の説明
          .exhibition__detail__ite__edi__rel
            必須
        .exhibition__detail__ite__des
          = f.text_area :descripstion, placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "exhibition__detail__ite__des__edi"
      .exhibition__detail__det
        商品詳細
      .exhibition__detail__sub
        .exhibition__detail__cname
          カテゴリー
        .exhibition__detail__cat
          = f.collection_select :category_id, Category.roots, :id, :name, {prompt: "------"}, {class: "aaaaa"}
        .exhibition__detail__sname
          商品の状態
        .exhibition__detail__stat
          = f.select :status, [ ["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れなし", "やや傷や汚れなし"], ["傷や汚れなし", "傷や汚れなし"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"] ], :prompt => "------"
      .exhibition__detail__send
        発送について
      .exhibition__detail__sendall
        .exhibition__detail__mname
          発送料の負担
        .exhibition__detail__meth
          = f.select :method, [ ["送料込み(出品者負担)","送料込み(出品者負担)"], ["着払い(購入者負担)", "着払い(購入者負担)"] ], :prompt => "------"
        .exhibition__detail__aname
          発送元の地域
        .exhibition__detail__are
          = f.collection_select :area_id, Area.all, :id, :name, {prompt: "------"}
        .exhibition__detail__bname
          発送までの日数
        .exhibition__detail__bur
          = f.select :burden, [ ["１〜２日で発送","１〜２日で発送"], ["２〜３日で発送", "２〜３日で発送"], ["４〜７日で発送", "４〜７日で発送"] ], :prompt => "------"
      .exhibition__detail__spname
        販売価格(300~9,999,999)
      .exhibition__detail__pri
        .exhibition__detail__pri__chi
          .exhibition__detail__pri__chi__cname
            価格
          .exhibition__detail__pri__chi__cnames
            .exhibition__detail__pri__chi__cnames__dole
              = "¥"
            .exhibition__detail__pri__chi__cnames__pridet
              = f.text_field :price, placeholder:"例) 300", class: "exhibition__detail__pri__chi__cnames__pridet__1"
        .exhibition__detail__pri__comm
          .exhibition__detail__pri__comm__1
            販売手数料(10%)
          .exhibition__detail__pri__comm__2
            = "-"
        .exhibition__detail__pri__pro
          .exhibition__detail__pri__pro__name
            販売利益
          .exhibition__detail__pri__pro__2
            = "-"
      .exhibition__detail__fot
        .exhibition__detail__fot__err
          = link_to "禁止されている出品", "#", class: "exhibition__detail__fot__err__1"
          = ","
          = link_to "行為", "#", class: "exhibition__detail__fot__err__1"
          = "を必ずご確認ください。"
        .exhibition__detail__fot__fake
          = "またブランド品でシリアルナンバー等がある場合はご記載ください。"
          = link_to "偽ブランドの販売", "#", class: "exhibition__detail__fot__fake__1"
          = "は犯罪であり処罰される可能性があります。"
        .exhibition__detail__fot__term
          = "また、出品をもちまして"
          = link_to "加盟店規約", "#", class: "exhibition__detail__fot__term__1"
          = "に同意したことになります。"
        .exhibition__detail__fot__exp
          = f.submit "出品する", class: "exhibition__detail__fot__exp__1"
        .exhibition__detail__fot__retrn
          = link_to "もどる", "", class: "exhibition__detail__fot__retrn__1"
    .exhibitions
      .exhibitions__prvert
        = link_to "プライバシーポリシー", "", class: "exhibitions__prvert__1"
      .exhibitions__merukari
        = link_to "メルカリ利用規約", "", class: "exhibitions__merukari__1"
      .exhibitions__terg
        = link_to "特定商取引に関する表記", "", class: "exhibitions__terg__1"
    .logs
      .logs__ima
        = image_tag "icon_brand.png", :size =>'50x50', class: "logs__ima__1"
      .logs__furim
        フリマ
      .logs__last
        = "© Furima, Inc."