.wrap
 .wrap__header
  .wrap__header__image
   = image_tag "logo.png",width: "185px", height: "49px"
  .wrap__header__bread
   - breadcrumb :item
   - breadcrumb :purchase
   = render "layouts/breadcrumbs"
 .wrap__main
  .wrap__main__in
   .wrap__main__in__header 購入内容の確認

   .wrap__main__in__buy
    .wrap__main__in__buy__inner
     .wrap__main__in__buy__inner__box
      .wrap__main__in__buy__inner__box__left
       = image_tag "icon_category.png",width: "80px", height: "80px"

      .wrap__main__in__buy__inner__box__right
       .wrap__main__in__buy__inner__box__right__name
        = @item.name
       %span.wrap__main__in__buy__inner__box__right__price
        ¥#{@item.price}
       %span{style: "font-weight: 600"}（税込）送料込み

   .wrap__main__in__content

    .wrap__main__in__content__inner
     /credit_controller側へ飛び、購入の処理を行う
     = form_with(url: purchase_credit_path, class: "wrap__main__in__content__inner__form", local: true, method: :post) do |f|
      %ul.wrap__main__in__content__inner__form__table
       .wrap__main__in__content__inner__form__table__price 支払い金額
       .wrap__main__in__content__inner__form__table__cash ¥#{@item.price}

      %ul.wrap__main__in__content__inner__form__point
       .wrap__main__in__content__inner__form__point__label


      .wrap__main__in__content__inner__form__info
       .wrap__main__in__content__inner__form__info__inner

        .wrap__main__in__content__inner__form__info__inner__box
         .wrap__main__in__content__inner__form__info__inner__box__left 支払い方法
        .wrap__main__in__content__inner__form__info__inner__credit
         クレジットカード
        /クレジットカード登録情報がない場合は登録画面にいく 
        - if @default_card_information.blank?
         %br /
        /登録していたら、クレジットカード情報が表示される
        - else
         %br/
         = "**** **** **** " + @default_card_information.last4
         - exp_month = @default_card_information.exp_month.to_s
         - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
         = exp_month + " / " + exp_year
         %br

      .wrap__main__in__content__inner__form__address
       .wrap__main__in__content__inner__form__address__inner
        .wrap__main__in__content__inner__form__address__inner__box
         .wrap__main__in__content__inner__form__address__inner__box__left
          配送先
        .wrap__main__in__content__inner__form__address__inner__text
         /購入者の住所表示
         = @user.addresses[0][:post]

         %br/
         = @user.addresses[0][:prefecture]
         = @user.addresses[0][:city]
         = @user.addresses[0][:number]
         = @user.addresses[0][:building]


         %br/
         = @user.name

      .wrap__main__in__content__inner__form__box
       = f.submit "購入する", {id: "token_submit", class: "wrap__main__in__content__inner__form__box__button"}

 .wrap__footer
  %ul.wrap__footer__message
   %li.a
   = link_to "プライバシーポリシー","#"
   %li.a
   = link_to "フリマ利用規約","#"
   %li.a
   = link_to "特定商取引に関する表記","#"
  .wrap__footer__logo
   = image_tag "icon_category.png",width: "80px", height: "65px"
  %small © Furima, Inc.
