.show-items-containers
  %section.item-box-container
    %h1.item-name
      = @item.name
    .item-main-content
      .item-photo
        -if @item.buyer_id.present?
          .item-photo__top
            = image_tag @image[0].images.url, class: 'item-photo__top--size'
            .item-photo__top--size__sold
              .item-photo__top--size__sold__inner
                SOLD
          .item-photo__bottom
            = image_tag @image[0].images.url, class: 'item-photo__bottom--size'
            = image_tag @image[1].images.url, class: 'item-photo__bottom--size'
            = image_tag @image[2].images.url, class: 'item-photo__bottom--size'
            
        - else
          .item-photo__top
            = image_tag @image[0].images.url, class: 'item-photo__top--size'
          .item-photo__bottom
            = image_tag @image[0].images.url, class: 'item-photo__bottom--size'
            = image_tag @image[1].images.url, class: 'item-photo__bottom--size'
            = image_tag @image[2].images.url, class: 'item-photo__bottom--size'
      %table.item-detail-table
        %tbody
          %tr.table-record
            %th 出品者
            %td.table-data
              = link_to @item.user.name, "#", class: "delete-decoration"
          %tr
            %th カテゴリー
            %td

              %br/
              スポーツ
              -# = link_to @item.category.name, "#", class: "delete-decoration"
          %tr
            %th ブランド
            %td
              NIKE
              = icon('fas', 'check')
              -# = @item.brand.name
          %tr
            %th 商品のサイズ
            %td
          %tr
            %th 商品の状態
            %td
              = @item.status
          %tr
            %th 配送料の負担
            %td
              = @item.method
          %tr
            %th 配送元地域
            %td
              -# = link_to @item.address.prefecture, class: "delete-decoration"
          %tr
            %th 発送日の目安
            %td
              = @item.area_id

    .item-price
      %span.item-price__bold
        ¥
        = @item.price
      %span.item-price__tax (税込)
      %span.item-price__shipping-fee 送料込み

    -if user_signed_in? && current_user.id == @item.user_id
      = render 'items/edit'
    -elsif @item.buyer_id.present?
      = render 'items/sold'
    -else
      = link_to "購入画面に進む", purchase_item_path, class: "item-buy-btn"

    .item-description
      %p.item-description__inner
        = @item.descripstion
    .item-button
      .item-button__left
        %button.item-button__left__favorite{"data-ga": "element", "data-ga-category": "LIKE", "data-ga-label": "like!", "data-id": "m45167156558", "data-toggle": "like", name: "like!", type: "button"}
          %span.icon-favorite ⭐️お気に入り
          %span.fade-in-down{"data-num": "like"}
            = @item.like
      .item-button__right
        = link_to "不適切な商品の報告", "#", class: "item-button__right__nogood"

    .item-detail-message
      .message-container
        .message-content
          = form_with(model: [@item,@comment], local: true, class: "message-content__form") do |form|
            = form.text_area :text, type: "text", class: "message-content__form--textarea"
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = form.submit "コメントする" ,type: "submit", class: "message-content__form--submit"
        .comment
          <コメント一覧>
          .comment__inner
              - @comments.each do |comment|
                .comment__inner__box
                  = link_to comment.user.name,user_path,class: "comment__inner__box__name"
                  .comment__inner__box__text
                    = comment.text
              

    %ul.nav-item
      .nav-item__link-prev
        %li
          = link_to "＜ 前の商品", "#", class: "delete-decoration"
      .nav-item__link-next
        %li
          = link_to "後ろの商品 ＞", "#", class: "delete-decoration"

    -# .items-in-user
    -#   %section.items-containers
    -#     %h2.items-containers__head
    -#       = link_to "〇〇さんのその他の商品", "#", class: "delete-decoration"
    -#     .items-containers__content
    -#       %section.items-box
    -#         = link_to "#", class: "delete-decoration" do
    -#           %figure.items-box-photo
    -#             %img.is-higher-height{alt: "デイリー六法　2018", "data-src": "#", src: "https://d1f5hsy4d47upe.cloudfront.net/08/08877f925c01910714436b83b5921909_w.jpg"}/
    -#           .items-box-body
    -#             %h3.items-box-name デイリー六法　2018
    -#             .items-box-num
    -#               .items-box-price ¥1,300
    -#       %section.items-box
    -#         = link_to "#", class: "delete-decoration" do
    -#           %figure.items-box-photo
    -#             %img.is-higher-height{alt: "一番コフレ　ジョジョの奇妙な冒険　～黄金の風～　ギャングの香りハンドクリーム", "data-src": "#", src: "https://d1f5hsy4d47upe.cloudfront.net/08/08877f925c01910714436b83b5921909_w.jpg"}/
    -#           .items-box-body
    -#             %h3.items-box-name 一番コフレ　ジョジョの奇妙な冒険　～黄金の風～　ギャングの香りハンドクリームああああああああああああああああああああああああああああ
    -#             .items-box-num
    -#               .items-box-price ¥800
    -#       %section.items-box
    -#         = link_to "#", class: "delete-decoration" do
    -#           %figure.items-box-photo
    -#             %img.is-higher-height{alt: "女の子向け玩具　スタンプセット×2", "data-src": "#", src: "https://d1f5hsy4d47upe.cloudfront.net/08/08877f925c01910714436b83b5921909_w.jpg"}/
    -#           .items-box-body
    -#             %h3.items-box-name 女の子向け玩具　スタンプセット×2
    -#             .items-box-num
    -#               .items-box-price ¥900
